### 1. Lists Are Ordered

In [1]:
todo = ['jaroo' , 'wash' ]

In [2]:
type(todo)

list

In [22]:
to_do_ali = ['jaroo' , 'study math' , 'phyton class' ]

In [4]:
to_do_zahra = ['jaroo' , 'phyton class' , 'study math']

In [6]:
to_do_ali is to_do_zahra

False

In [7]:
to_do_ali == to_do_zahra

False

In [8]:
[ 1, 2, 3] == [ 1, 3, 2]

False

In [9]:
[ 1, 2, 3] == [ 1, 2, 3]

True

In [13]:
[ 1, 2, 3] is [ 1, 2, 3]

False

### 2. Lists Can Contain Arbitrary Objects

In [16]:
list_a = ['zahra', 1 , 2 , 'zoo' , [1 , 2, 3] ,False ,2.2] #dakhele list hame chi garar migireh

In [1]:
names = []
name = input('inter your name:')
while name:
    names.append(name)
    name = input('inter your name:')

inter your name: zahra
inter your name: mohammad
inter your name: mahdi
inter your name: mehran
inter your name: fati
inter your name: pari
inter your name:

In [2]:
names

['zahra', 'mohammad', 'mahdi', 'mehran', 'fati', 'pari']

### 3. List Elements Can Be Accessed by Index

In [3]:
#indexing#slicing

In [4]:
todo = ['jaroo' , 'wash' , 'phyton class']

In [5]:
todo[0]

'jaroo'

In [6]:
todo[1]

'wash'

In [7]:
todo[-1]

'phyton class'

In [8]:
todo[0:2]

['jaroo', 'wash']

In [1]:
x = [ 1 ,2 , 3 , 4 , 5, 6 , 7, 8 ,9 , 10]

In [3]:
x[:8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
x[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
x[-2:]

[9, 10]

In [7]:
x[:4] + x[4:] is x

False

In [9]:
x[:4] + x[4:] == x

True

In [10]:
x[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
x[::-2]

[10, 8, 6, 4, 2]

In [12]:
x[100]

IndexError: list index out of range

In [13]:
x[2:100]

[3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
myfir = 'zahra'

In [16]:
myfir is myfir[:]

True

In [18]:
x is x[:]#list copy mishe

False

In [19]:
1 in x

True

In [20]:
x + [1 , 2]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2]

In [23]:
to_do_ali * 2

['jaroo', 'study math', 'phyton class', 'jaroo', 'study math', 'phyton class']

In [24]:
max (x)

10

In [25]:
min (x)

1

In [26]:
len(to_do_ali)

3

### 4. Lists Can Be Nested

In [27]:
y = [1 , 2 , [3 , 4]]

In [28]:
len(y)

3

In [29]:
y[2]

[3, 4]

In [31]:
y[2][0]

3

In [33]:
len(y[2])

2

In [34]:
z = [1 , 2 ,[ 3, [ 4, 5]]]

In [35]:
z[2][1][1]

5

### 5. Lists Are Mutable

In [36]:
x = [1 ,2 ,3]

In [37]:
x[0]

1

In [38]:
x[0] = 'ali'

In [39]:
x

['ali', 2, 3]

In [40]:
del(x [ 0])

In [41]:
x

[2, 3]

In [42]:
to_do_ali

['jaroo', 'study math', 'phyton class']

In [43]:
to_do_ali.append(4)

In [44]:
to_do_ali

['jaroo', 'study math', 'phyton class', 4]

In [45]:
to_do_ali.append([1, 2])

In [46]:
to_do_ali

['jaroo', 'study math', 'phyton class', 4, [1, 2]]

In [47]:
to_do_ali + [3 , 5 ]

['jaroo', 'study math', 'phyton class', 4, [1, 2], 3, 5]

In [50]:
to_do_ali +=[6 , 5 ]

In [1]:
to_do_ali

NameError: name 'to_do_ali' is not defined

# question


## 1)Append to The List

The append() method allows you to add items to your lists. Add the string "R" to the programming_langs list with append() method.

programming_langs = ["Julia", "Python"]

In [2]:
programming_langs = ["julia" , "python"]

In [3]:
programming_langs.append("R")

In [4]:
programming_langs

['julia', 'python', 'R']

## 2)List: Max, Min, Sum and Mean

Calculate the maximum, minimum, sum and mean of the following data using python's built-in functions:

random_num_data = [18, 60, -10, 17, 55, 8, -1, 31, 52, 31,
                    27, 14, 25, 0, -2, 15, -1, 50, 45, -4,
                    42, -10, 40, 3, 43, 55, 24, -17, 17, 54, 
                    19, 24, 44, 30, 24, 3, -17, 31, 45, -10, 
                    13, -12, 21, -13, 52, 57, -1, 37, 21, 42]

maximum = #code here
minimum = #code here
sum_of_data = #code here
mean_of_data = #code here

In [5]:
random_num_data = [18, 60, -10, 17, 55, 8, -1, 31, 52, 31, 27, 14, 25, 0, -2, 15,-1, 50, 45, -4, 42, -10
                   , 40, 3, 43, 55, 24, -17, 17, 54, 19, 24,44, 30, 24, 3, -17,31, 45, -10, 13, -12, 21,
                   -13, 52, 57, -1, 37, 21, 42]

In [6]:
import numpy
maximum = max(random_num_data)
maximum

60

In [7]:
minimum = min(random_num_data)
minimum

-17

In [8]:
sum_of_data = sum(random_num_data)
sum_of_data

1091

In [9]:
sum_of_data = sum(random_num_data)
sum_of_data
len_of_data = len(random_num_data)
len_of_data
mean_of_data = sum_of_data /len_of_data 
mean_of_data

21.82

## 3)Second Largest Number In List

Find the second_largest number in the list:

num_list = [3, 47, 10, 15, 21, 28, 13, 45, 66, 12, 34, 56, 78]

second_largest = #code here

In [15]:
num_list = [3, 47, 10, 15, 21, 28, 13, 45, 66, 12, 34, 56, 78]
first_largest = max(num_list)
first_largest
num_list.remove(first_largest)
num_list

[3, 47, 10, 15, 21, 28, 13, 45, 66, 12, 34, 56]

In [16]:
second_larget=max(num_list)
print("second_larget=" ,second_larget)

second_larget= 66

## 4)List Quiz

Which of the following are not true about Python lists? (Choose all that may apply)

a) There is no limit to the size of a list.-->
b) All elements in a list must be of the same type.-->
c) A list may contain any type of object except another list -->
d) A given object may appear in a list more than once.

answer:b

## 5)Nested List Indexing

Extract the fourth team list from persian_gulf_standing:

persian_gulf_standing = [
    ['Esteghlel F.C', 1],
    ['Sepahan', 2],
    ['Perspolis', 3],
    ['Gol Gohar', 4],
    ['Foolad', 5]
]

forth_team = #Code here

In [22]:
persian_gulf_standing = [
    ['Esteghlel F.C', 1],
    ['Sepahan', 2],
    ['Perspolis', 3],
    ['Gol Gohar', 4],
    ['Foolad', 5]
]

In [23]:
forth_team = persian_gulf_standing[3]

In [24]:
forth_team

['Gol Gohar', 4]

In [26]:
print('forth_team =' ,persian_gulf_standing[3][0])

forth_team = Gol Gohar

## 6)List Subset

Subset the following lists from color list:

bl_gr = ['blue', 'green']
re_gr_br = ['red', 'green', 'brown']
pk_br_yl = ['pink', 'brown', 'yellow']

colors = ['red', 'blue', 'green', 'yellow', 'brown', 'pink']
bl_gr = #?
re_gr_br = #?
pk_br_yl = #?

Note: #? is just a comment indicating where you should write your code.

In [39]:

colors = ['red', 'blue', 'green', 'yellow', 'brown', 'pink']
bl_gr = colors[1:3]
re_gr_br = colors[0:6:2]
pk_br_yl = colors[-3:-1]



print(bl_gr,
re_gr_br,
pk_br_yl,)

['blue', 'green'] ['red', 'green', 'brown'] ['yellow', 'brown']

## 7)List Memory Usage

Consider the following line of code :

a = 300
b = 124
mylist = [300, 124, 100]

Which statement is True :

id(a) == id(mylist[0]) and id(b) == id(mylist﻿[1])
id(a) == id(mylist[0]) and id(b) != id(mylist[1])
id(a) != id(mylist[0]) and id(b) == id(mylist[1])
id(a) != id(mylist[0]) and id(b) != id(mylist[1])
id(a) == id(mylist) and id(b) == id(mylist)

In [40]:
a = 300
b = 124
mylist = [300, 124, 100]

In [42]:
id(a) == id(mylist[0]) and id(b) == id(mylist[1])

False

In [43]:
id(a) == id(mylist[0]) and id(b) != id(mylist[1])

False

In [44]:
id(a) != id(mylist[0]) and id(b) == id(mylist[1])

True

In [45]:
id(a) != id(mylist[0]) and id(b) != id(mylist[1])

False

In [46]:
id(a) == id(mylist) and id(b) == id(mylist)

False

## 8)Delete List items

What is the output of the following code?

inp_list = [10, 20, 30, 40]
del inp_list[0:6]
print(inp_list)

[]
Error: List index out of range.
None

In [48]:
inp_list = [10, 20, 30, 40]
del inp_list[0:6]
print(inp_list)

[]

In [49]:
inp_list = [10, 20, 30, 40]
del inp_list[5:6]
print(inp_list)

[10, 20, 30, 40]

## 9)Replace List Items with New Values

Ali put his student's math grades on a list. One of the students has been suspended with a score of 9.75. Today is Ali's birthday and he wants to give 10 to that student. we want you to find the value 9.75 in the given list, and replace it with 10. Only update the first occurrence of the item.

Input List: 

grades = [12, 19, 14, 15, 17.5, 18, 10.25, 9.75, 19, 14, 12, 11.25, 17, 18, 13, 13, 15, 19, 18.5]

In [50]:
grades = [12, 19, 14, 15, 17.5, 18, 10.25, 9.75, 19, 14, 12, 11.25, 17, 18, 13, 13, 15, 19, 18.5]

In [64]:
for i in range(len(grades)):
    if grades[i] == 9.75 :
       grades[i] = 10

In [65]:
grades

[12,
 19,
 14,
 15,
 17.5,
 18,
 10.25,
 10,
 19,
 14,
 12,
 11.25,
 17,
 18,
 13,
 13,
 15,
 19,
 18.5]

## 10)Simple List Indexing

Use indexes and print the first, third, and last element of the list below.

num_list = [1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78]
first_element = #?
third_element = #?
last_element =  #?

Note: #? is just a comment indicating where you should write your code.

In [71]:
num_list = [1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78] 
first_element = num_list[0]
third_element = num_list[2]
last_element = num_list[-1]

In [72]:
first_element

1

In [73]:
third_element

6

In [74]:
last_element

78