# Variables in Python 
 baraye tozih anvae mokhtalefe data lazemeh ta onha ro tozih bedim
zakhireh sazi data tayp haye motefavet ba name baray refrence dadan va chon motefavet hastan beheshon variable assignment gofte mishe.

In [1]:
x = 400

In [3]:
print (x)

400

In [6]:
x = 'zahra'

In [7]:
x

'zahra'

In [8]:
a = b = c = 5

In [9]:
print(a ,b ,c)

5 5 5

## Object References
 har chizi to paython yek shei hast

In [10]:
n = 2

In [11]:
m = n

In [12]:
m is n

True

az -5 to 256 har objecti be yek khone eshareh mikone

In [13]:
a = 30

In [14]:
b = 30

In [15]:
a is b

True

In [16]:
a = 300

In [17]:
b = 300

In [18]:
a is b

False

## Variable Names
name discrib the object "a to z" ya "0 ta 9" ya "_" mitavan gozasht.
vali " . " ya " - " nmishe gozasht

In [3]:
x-y = 2

SyntaxError: can't assign to operator (<ipython-input-3-b239b6130628>, line 1)

x_y = 2

## rezerved keywords

| Python Keywords| | | |
|:--|:--|:--|:--|
|`False`|`def`|`if`|`raise`|
|`None`|`del`|`import`|`return`|
|`True`|`elif`|`in`|`try`|
|`and`|`else`|`is`|`while`|
|`as`|`except`|`lambda`|`with`|
|`assert`|`finally`|`nonlocal`|`yield`|
|`break`|`for`|`not`|
|`class`|`from`|`or`|
|`continue`|`global`|`pass`|

# question

## 1) True or False!

Which statement is true? and why?

a)In Python, a variable must be declared before it is assigned a value 
b)In Python, a variable may be assigned a value of one type, and then later assigned a value of a different type

a)false b)true

## 2)Object Refrences

Consider the following sequence of statements:

>>> n = 300
>>> m = n

Following the execution of these statements, Python has created how many objects and how many references?

One object, two references
One object, one reference
Two objects, one reference
Two objects, two references

answer: One object, two references

In [5]:
n=300

In [6]:
m=n

In [7]:
m is n

True

## 3)Naming Convention

Consider the following sequence of statements :

>>> employeenumber = 4398


>>> EmployeeNumber = 4398


>>> employeeNumber = 4398

Choose the right answer:

These statements refer to different variables.
These statements refer to the same variable.

These statements refer to the same variable.

In [9]:
employeenumber = 4398
EmployeeNumber = 4398
employeeNumber = 4398

In [13]:
employeenumber == EmployeeNumber

True

In [12]:
employeeNumber == EmployeeNumber

True

## 4)Multiple Variable's Definition

Assign values "pytopia" , 2022 and 3.14 to var_s , var_i , var_f in only one line of code.

In [3]:
var_s,var_i,var_f = "pytopia" , 2022 ,3.14

## 5)Variable Assignment

Consider the following sequence of statements :

>>> m = 245
>>> n = 245
>>> x = 268
>>> y = 268
>>> z = y

Choose the statements that all parts are true

id(m)!= id(n), id(x)!= id(y)
id(m) == id(n), id(x)== id(y)
id(m) == id(n), id(x)!= id(y)
id(m)!= id(n), id(x)!= id(y)
id(z) == id(y)
id(z)!= id(y)

In [14]:
m = 245
n = 245
x = 268
y =268
z = y

In [15]:
id(m) == id(n)

True

In [16]:
id(x) != id(y)

True

In [17]:
id(z) == id(y)

True

## 6)Quick Swap

Assume we have two variables called input_1 and input_2 . Swap the values of the two variables so that input_1 has the value of input_2 and vice versa. Print out the two variables.  

Note: You must perform the swap in only 1 line of code, and without using any variables other than input_1 and input_2 .

In [18]:
input_1 = 1
input_2 = 2

In [19]:
input_1 = input_2
input_2 = input_1

In [20]:
input_1

2

## 7)Custom Swap

Ali has a problem with one of his python practices. He wants to get two numbers as input from the user and put them in input_1 and input_2 . then Swap the values of the two variables so that input_1 has the value of input_2 and vice versa. Finally, print out the two variables.  

Note: He must only use 3 variables in his code

In [36]:
print('Enter your two number:')
input_1 = input()
input_2 = input()
print(f' input_1 = {input_1} input_2 = {input_2}')

Enter your two number:

 444

 input_1 =  input_2 = 444

In [37]:
x = input_1
input_1 =input_2
input_2 =x
print(f' input_1_swap = {input_1} input_2_swap = {input_2}')

 input_1_swap = 444 input_2_swap =

## 8) easy Sum

We ask Ali to write a code that takes two inputs from the user and saves them in two desired variables, and then puts the sum of the two inputs in a variable and prints the result. Since Ali does not know the syntax of python, we ask you to help him to write this code!

Note: Use snake case format for variable names.

Hint: You can use the following code to take input from the user and convert it to an integer. (In future sessions we will explain how this code works).

You can change the name of the variable to anything you like.

input_1 = int(input('Enter a number: '))
input_2 = int(input('Enter another number: '))

Note: When you are giving your input data, press Enter to end the process of giving input after you have done.

In [38]:
input_1 = int(input('Enter a number: '))
input_2 = int(input('Enter another number: '))

Enter a number:  55
Enter another number:  65

In [40]:
sum_x =input_1+ input_2

In [41]:
sum_x

120

In [49]:
a = [input_1, input_2]

In [50]:
sum_a = sum(a)

In [51]:
sum_a

120

## 9)Warm-Up Variable Practice!

Ali's programming teacher asks him to define two variables inp_1 and inp_2 and assign values 10 and 35 to them. then put inp_1 + inp_2 in variable result and print it. Ali is a lazy student and asks you to do this for him!

In [52]:
inp_1 ,inp_2 = 10,35

In [54]:
result = inp_1 + inp_2

In [55]:
result

45