### Using for Loops

In [1]:
squars = []
for i in range(5 ,25):
    squars.append(i **3)

### Using `map()` Objects

In [7]:
prices = [100 ,50 ,70 ,120 ,99]

In [2]:
#after tax
#tax 20%

In [9]:
after_tax_price = []
for p in prices:
    after_tax_price.append(p * 1.2)

In [10]:
after_tax_price

[120.0, 60.0, 84.0, 144.0, 118.8]

In [11]:
# map(func ,iterable )

In [12]:
def calc_after_pices(prices):
    return prices*1.2

In [14]:
list(map(calc_after_pices ,prices))

[120.0, 60.0, 84.0, 144.0, 118.8]

In [15]:
names = ['Ali' ,'Reza' ,'Hassan']

In [16]:
names_lower = []
for n in names:
    names_lower.append(n.lower())

In [17]:
list(map(str.lower , names))

['ali', 'reza', 'hassan']

In [18]:
list(filter(lambda n:'A' in n ,names))

['Ali']

## Using List Comprehensions

In [20]:
[i **2 for i in range(5 ,25)]

[25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576]

از سه قسمت اصلی تشکیل میشهه:اول همون اون کاریه که میخواییم انجام بدیم عین بالا توان ۲ هستش قسمت بعدی ممبر عست که میخواییم بر ان ها اون اکسپریشن رو انجام بدیم سوم هم ایتریبل هست .که ممبر هامون عضو این ایتریبل هستن

In [21]:
[p*1.2 for p in prices]

[120.0, 60.0, 84.0, 144.0, 118.8]


## Benefits of Using List Comprehensions

pyhtonic , az map rahat tareh,

## How to Supercharge Your Comprehensions

### Using Conditional Logic

In [5]:
names= ['ali' ,'reza' ,'mohsen' ,'Hassan']

In [6]:
[n for n in names if 'a' in n]

['ali', 'reza', 'Hassan']

In [7]:
[n.upper() if 'a' in n else n.lower() for n in names if 's' in n]

['mohsen', 'HASSAN']

In [8]:
def func(n):
    return n.upper()

In [9]:
[func(n) for n in names ]

['ALI', 'REZA', 'MOHSEN', 'HASSAN']

## How to Supercharge Your Comprehensions

In [10]:
sentence= """
today is sunny
we are happy
zahra
mahdi
mehran


"""

In [11]:
[char for char in sentence if char in 'euaio']

['o', 'a', 'i', 'u', 'e', 'a', 'e', 'a', 'a', 'a', 'a', 'i', 'e', 'a']

In [12]:
{char for char in sentence if char in 'euaio'}

{'a', 'e', 'i', 'o', 'u'}

In [16]:
d ={
    'Ali':'Hejazi',
    'Zahra':'Zahmatkesh'
}

In [21]:
{value:key for key, value in d.items()}

{'Hejazi': 'Ali', 'Zahmatkesh': 'Zahra'}

In [23]:
{i:'l' for i in range(10)}

{0: 'l',
 1: 'l',
 2: 'l',
 3: 'l',
 4: 'l',
 5: 'l',
 6: 'l',
 7: 'l',
 8: 'l',
 9: 'l'}