## 17 Newer Python String Format Techniques

### The Python String .format() Method

In [1]:
template.format('')

NameError: name 'template' is not defined

In [4]:
'{} is stupid.and {} is also'.format('Ali' ,'Reza')

'Ali is stupid.and Reza is also'

In [6]:
quantity = 6
fruit = 'bananas'
price = 2

'{} {}s cost {}$'.format(quantity ,fruit , price)

'6 bananass cost 2$'

In [17]:
product= [
    (6 , 'bananad' ,2),
    (9 ,'apple' , 5)
]

In [20]:
for p in product:
    print('{} {}s cost {}$' .format(p[0],p[1],p[2]))

6 bananads cost 2$
9 apples cost 5$

## The String `.format()` Method: Simple Replacement Fields

In [21]:
l = ['a' ,'b' ,'c']

In [24]:
'{0[0]}'.format(l)

'a'

### The `<conversion>` Component

In [25]:
str('ali')

'ali'

In [27]:
repr('ali')

"'ali'"

In [28]:
ascii('ali')

"'ali'"

In [31]:
print('name:{0!s}'.format('ali'))

name:ali

### The `<format_spec>` Component

In [34]:
'{:b}'.format(2)

'10'

In [44]:
'name: {:*>8} !!!'.format('ali')

'name: *****ali !!!'

In [45]:
d ={
    'ali':20,
    'reza':18,
    'mohsen':15,
}

In [48]:
for key, value in d.items():
    print('{:10} {}'.format(key ,value))

ali        20
reza       18
mohsen     15

#### The `<group>` Subcomponen

In [49]:
x= 499_235_874_269_842_326_541

In [50]:
x

499235874269842326541

In [53]:
'{:,d}'.format(x)

'499,235,874,269,842,326,541'

In [54]:
'{:_d}'.format(x)

'499_235_874_269_842_326_541'

In [56]:
'{:_b}'.format(x)

'1_1011_0001_0000_0100_1010_0001_1110_1001_0101_0101_1001_1000_0111_0100_0100_0000_1101'

#### The `.<prec>` Subcomponent

In [57]:
'{:.5}'.format(255.664812488)

'255.66'

## The Python Formatted String Literal (f-String)

### Why `str.format()` Isnâ€™t Great

In [58]:
first_name = "Eric"
last_name = "Idle"
age = 74
profession = "comedian"
affiliation = "Monty Python"
print(("Hello, {first_name} {last_name}. You are {age}. " + 
       "You are a {profession}. You were a member of {affiliation}.") \
       .format(first_name=first_name, last_name=last_name, age=age, \
               profession=profession, affiliation=affiliation))

Hello, Eric Idle. You are 74. You are a comedian. You were a member of Monty Python.

### f-String Syntax

In [60]:
x=2
y=5
f'{x-5} {y*4}'

'-3 20'

In [61]:
quantity = 5
friut ='banana'
price =2

In [62]:
f'{quantity} {fruit}s cost {price}$'

'5 bananass cost 2$'

In [63]:
a = [1 ,2 ,3 ]

In [66]:
f'{len(a) if len(a) > 10 else 0}'

'0'