### 1. Lists Are Ordered

In [1]:
todo = ['jaroo' , 'wash' ]

In [2]:
type(todo)

list

In [22]:
to_do_ali = ['jaroo' , 'study math' , 'phyton class' ]

In [4]:
to_do_zahra = ['jaroo' , 'phyton class' , 'study math']

In [6]:
to_do_ali is to_do_zahra

False

In [7]:
to_do_ali == to_do_zahra

False

In [8]:
[ 1, 2, 3] == [ 1, 3, 2]

False

In [9]:
[ 1, 2, 3] == [ 1, 2, 3]

True

In [13]:
[ 1, 2, 3] is [ 1, 2, 3]

False

### 2. Lists Can Contain Arbitrary Objects

In [16]:
list_a = ['zahra', 1 , 2 , 'zoo' , [1 , 2, 3] ,False ,2.2] #dakhele list hame chi garar migireh

In [1]:
names = []
name = input('inter your name:')
while name:
    names.append(name)
    name = input('inter your name:')

inter your name: zahra
inter your name: mohammad
inter your name: mahdi
inter your name: mehran
inter your name: fati
inter your name: pari
inter your name:

In [2]:
names

['zahra', 'mohammad', 'mahdi', 'mehran', 'fati', 'pari']

### 3. List Elements Can Be Accessed by Index

In [3]:
#indexing#slicing

In [4]:
todo = ['jaroo' , 'wash' , 'phyton class']

In [5]:
todo[0]

'jaroo'

In [6]:
todo[1]

'wash'

In [7]:
todo[-1]

'phyton class'

In [8]:
todo[0:2]

['jaroo', 'wash']

In [1]:
x = [ 1 ,2 , 3 , 4 , 5, 6 , 7, 8 ,9 , 10]

In [3]:
x[:8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
x[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
x[-2:]

[9, 10]

In [7]:
x[:4] + x[4:] is x

False

In [9]:
x[:4] + x[4:] == x

True

In [10]:
x[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
x[::-2]

[10, 8, 6, 4, 2]

In [12]:
x[100]

IndexError: list index out of range

In [13]:
x[2:100]

[3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
myfir = 'zahra'

In [16]:
myfir is myfir[:]

True

In [18]:
x is x[:]#list copy mishe

False

In [19]:
1 in x

True

In [20]:
x + [1 , 2]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2]

In [23]:
to_do_ali * 2

['jaroo', 'study math', 'phyton class', 'jaroo', 'study math', 'phyton class']

In [24]:
max (x)

10

In [25]:
min (x)

1

In [26]:
len(to_do_ali)

3

### 4. Lists Can Be Nested

In [27]:
y = [1 , 2 , [3 , 4]]

In [28]:
len(y)

3

In [29]:
y[2]

[3, 4]

In [31]:
y[2][0]

3

In [33]:
len(y[2])

2

In [34]:
z = [1 , 2 ,[ 3, [ 4, 5]]]

In [35]:
z[2][1][1]

5

### 5. Lists Are Mutable

In [36]:
x = [1 ,2 ,3]

In [37]:
x[0]

1

In [38]:
x[0] = 'ali'

In [39]:
x

['ali', 2, 3]

In [40]:
del(x [ 0])

In [41]:
x

[2, 3]

In [42]:
to_do_ali

['jaroo', 'study math', 'phyton class']

In [43]:
to_do_ali.append(4)

In [44]:
to_do_ali

['jaroo', 'study math', 'phyton class', 4]

In [45]:
to_do_ali.append([1, 2])

In [46]:
to_do_ali

['jaroo', 'study math', 'phyton class', 4, [1, 2]]

In [47]:
to_do_ali + [3 , 5 ]

['jaroo', 'study math', 'phyton class', 4, [1, 2], 3, 5]

In [50]:
to_do_ali +=[6 , 5 ]

In [51]:
to_do_ali

['jaroo', 'study math', 'phyton class', 4, [1, 2], 3, 5, 6, 5]

# question
1:
Append to The List

The append() method allows you to add items to your lists. Add the string "R" to the programming_langs list with append() method.

programming_langs = ["Julia", "Python"]

In [1]:
programming_langs = ["julia" , "python"]

In [3]:
programming_langs.append("R")

In [4]:
programming_langs

['julia', 'python', 'R']

2)List: Max, Min, Sum and Mean

Calculate the maximum, minimum, sum and mean of the following data using python's built-in functions:

random_num_data = [18, 60, -10, 17, 55, 8, -1, 31, 52, 31,
                    27, 14, 25, 0, -2, 15, -1, 50, 45, -4,
                    42, -10, 40, 3, 43, 55, 24, -17, 17, 54, 
                    19, 24, 44, 30, 24, 3, -17, 31, 45, -10, 
                    13, -12, 21, -13, 52, 57, -1, 37, 21, 42]

maximum = #code here
minimum = #code here
sum_of_data = #code here
mean_of_data = #code here

In [6]:
random_num_data = [18, 60, -10, 17, 55, 8, -1, 31, 52, 31, 27, 14, 25, 0, -2, 15,-1, 50, 45, -4, 42, -10
                   , 40, 3, 43, 55, 24, -17, 17, 54, 19, 24,44, 30, 24, 3, -17,31, 45, -10, 13, -12, 21,
                   -13, 52, 57, -1, 37, 21, 42]

In [17]:
import numpy
maximum = max(random_num_data)
maximum

60

In [20]:
minimum = min(random_num_data)
minimum

-17

In [21]:
sum_of_data = sum(random_num_data)
sum_of_data

1091

In [24]:
sum_of_data = sum(random_num_data)
sum_of_data
len_of_data = len(random_num_data)
len_of_data
mean_of_data = sum_of_data /len_of_data 
mean_of_data

21.82