# strings

In [1]:
a ='ali'

In [2]:
b ='babak'

In [3]:
d ='davod'

In [5]:
c = '''
darya

solmaz'''

In [6]:
print (c)

darya

solmaz

### string operators

In [7]:
f_name = 'zahra'
l_name = "zahmatkesh"

In [10]:
f_name + l_name

'zahrazahmatkesh'

In [11]:
print ('a' + 'ba' +'s')

abas

operator + mitavan concataation bein string ha ro anjam bedeh.

'a' * 'b' ro nmitavan ba ham zarb kard
 ama
mitavan adad ro dar string zarb kard.

In [13]:
3 * 'a'

'aaa'

### oprator in

In [14]:
s = 'zahra'

In [19]:
'z' in'zahar'

True

In [20]:
'a' not in 'zahra'

False

In [23]:
print ('''if you want  exact match''')
'zahra' == "zahra"

if you want  exact match

True

## Built-in String Functions

|Function | Description|
|:--|:--|
|`chr()` | Converts an integer to a character |
|`ord()` | Converts a character to an integer |
|`len()` | Returns the length of a string |
|`str()` | Returns a string representation of an object |

In [6]:
ord ('6') #on adadi ke computer midone adad 6 mani mideh 54
#asci table tavafog bein ro neshon mideh
#az zban ensan be zaban mashin miravim
#encodeing

54

In [1]:
chr(54)
#decoding
#az zaban mashin be zaban ensan miravim

'6'

In [2]:
len('i am zahra')
#how length is the strings

10

In [4]:
str(2)
#tabdil mikoneh be string

'2'

In [5]:
str("wo")

'wo'

In [6]:
str(3+2j)

'(3+2j)'

In [7]:
str(25+5)

'30'

## String Indexing
1 meghdar ro az string mihkastim

In [8]:
name = "zahra zahmatkesh"

In [9]:
name[0]

'z'

In [15]:
name[5]

' '

In [16]:
name[-2]

's'

In [17]:
name[-1] == name[ len(name) - 1]

True

In [18]:
name [0] == name [ - len(name) ]

True

## String Slicing
boresh zadan

In [1]:
name = 'zahra'

In [2]:
name [1:3]

'ah'

In [3]:
name [:4]

'zahr'

In [6]:
name [:]

'zahra'

In [8]:
name[:1] + name[1:] == name

True

In [9]:
name[1:]

'ahra'

In [10]:
name[ 1: len(name)]

'ahra'

### Specifying a Stride in a String Slice
ghadam be ghadam jomp mikone

In [11]:
n = 'zahra zahmatkesh'

In [13]:
n [ 0:15:2 ]

'zhazhaks'

In [14]:
n[::-1]

'hsektamhaz arhaz'

### Interpolating Variables Into a String

In [20]:
age= '25'

In [21]:
name= 'zahra'

In [24]:
user= name + ' is ' + age +' years old '

In [25]:
print(user)

zahra is 25 years old

In [26]:
f' {name} is {age} years old'

' zahra is 25 years old'

In [27]:
imail = f' hello , {name}! you are winner'

In [28]:
imail

' hello , zahra! you are winner'

In [32]:
print(f"""
Hello ! {name}

you are turning to {age}.
""")

Hello ! zahra

you are turning to 25.

In [34]:
f'{2+5}'

'7'

### Modifying Strings

string is immutable hastan.geir gabele tagire.

In [35]:
name ='mohammad mahdi'

In [38]:
n= name[:8] + 'i' + name[8:]

In [39]:
print (n)

mohammadi mahdi