# tuples
شبیه لیست هست ولی فقط غیر قابل تغییره

In [1]:
my_list = [1,2,3,4]
my_tople = (1,2,3,4)

In [2]:
my_list[0] = 'ali'

In [3]:
my_tuple[0] = 'ali'#error

NameError: name 'my_tuple' is not defined

In [1]:
tuple.append(2)#error

AttributeError: type object 'tuple' has no attribute 'append'

In [2]:
import sys

In [3]:
sys.getsizeof([])

72

In [6]:
sys.getsizeof(tuple())#read ony #sabok va kam hagme#سریعتره سبک تره کم حجم تره غیرقابل تغییره

56

In [3]:
mytuple =tuple()

In [4]:
type(mytuple)

tuple

In [8]:
atuple = (2 ,)

In [9]:
list('zahra')

['z', 'a', 'h', 'r', 'a']

In [14]:
list((1,2,3))

[1, 2, 3]

In [15]:
list([1,2,3])

[1, 2, 3]

In [16]:
list(2)

TypeError: 'int' object is not iterable

In [17]:
tuple([])

()

In [18]:
tuple([1,2,3])

(1, 2, 3)

In [19]:
1 , 2

(1, 2)

In [20]:
x = 2
y = 3

In [21]:
x,y

(2, 3)

### Tuple Assignment, Packing, and Unpacking

In [22]:
name = ('ali' , 'zahra' ,'mehran' ,'mahdi','fati')

In [23]:
n1,n2,n3,n4,n5=name

In [24]:
n1

'ali'

In [25]:
m1 , *_ ,m2 = name

In [26]:
m1

'ali'

In [27]:
m2

'fati'

In [28]:
a ,b =3 , 4

In [29]:
a , b =b ,a

In [30]:
a ,b

(4, 3)

In [34]:
y = [1]

In [35]:
x = (1)

In [36]:
type(x)

int

In [37]:
type(y)

list

Simple Tuple Indexing

For the mixed_tuple variable defined below:

    Access value 20 from the mixed_tuple
    Access the charachter "g" from the mixed_tuple 
    The given tuple is a nested one. Write a Python program that prints the value 20 with indexing.
mixed_tuple = ("Orange", [10, 20, 30], (5, 15, 25))
value_20 =  #?
char_g =    #?

In [2]:
mixed_tuple = ("Orange", [10, 20, 30], (5, 15, 25))
orange , numlist , numtupl = mixed_tuple

In [5]:
value_20 = numlist[1]
value_20

20

In [8]:
char_g =orange[4]
char_g

'g'